/coverage/index.html
/coverage/.last_run.json
/coverage/.resultset.json
/coverage/assets/0.7.1/application.css
/coverage/assets/0.7.1/application.js
/coverage/assets/0.7.1/fancybox/blank.gif
/coverage/assets/0.7.1/fancybox/fancy_close.png
/coverage/assets/0.7.1/fancybox/fancy_loading.png
/coverage/assets/0.7.1/fancybox/fancy_nav_left.png
/coverage/assets/0.7.1/fancybox/fancy_nav_right.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_e.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_n.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_ne.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_nw.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_s.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_se.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_sw.png
/coverage/assets/0.7.1/fancybox/fancy_shadow_w.png
/coverage/assets/0.7.1/fancybox/fancy_title_left.png
/coverage/assets/0.7.1/fancybox/fancy_title_main.png
/coverage/assets/0.7.1/fancybox/fancy_title_over.png
/coverage/assets/0.7.1/fancybox/fancy_title_right.png
/coverage/assets/0.7.1/fancybox/fancybox-x.png
/coverage/assets/0.7.1/fancybox/fancybox-y.png
/coverage/assets/0.7.1/fancybox/fancybox.png
/coverage/assets/0.7.1/favicon_green.png
/coverage/assets/0.7.1/favicon_red.png
/coverage/assets/0.7.1/favicon_yellow.png
/coverage/assets/0.7.1/loading.gif
/coverage/assets/0.7.1/magnify.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_flat_75_ffffff_40x100.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_glass_65_ffffff_1x400.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_glass_75_dadada_1x400.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_glass_95_fef1ec_1x400.png
/coverage/assets/0.7.1/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png
/coverage/assets/0.7.1/smoothness/images/ui-icons_222222_256x240.png
/coverage/assets/0.7.1/smoothness/images/ui-icons_2e83ff_256x240.png
/coverage/assets/0.7.1/smoothness/images/ui-icons_454545_256x240.png
/coverage/assets/0.7.1/smoothness/images/ui-icons_888888_256x240.png
/coverage/assets/0.7.1/smoothness/images/ui-icons_cd0a0a_256x240.png
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile '~/.gitignore_global'

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/config/database.yml